
.footer-section {
    margin-top: 30px;
    background-color: #f5fbfc;
    background-image: url("../images/footer-background-image.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container{
    padding-top: 100px;
}

.footer-logo-image{
  max-width: 7%;
  @media #{$mobile} {
    max-width: 15%;
}
}

.footer-logo-text{
    color: #546285;
    font-size: 18px;
    @media #{$surface} {
        margin-bottom: 24px;
    }
}

.footer-links{
    color: #546285;
    font-size: 16px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.bold-main-text{
    color: #08090a;
    font-size: 13px;
    font-weight: 600;
}

.border-footer{
    border-top: .5px solid rgba(126, 130, 143, 0.09);
    margin-bottom: 0px;
    margin-top: 100px;
    width: 92%;
}

.footer-icon-div{
    display: flex;
    justify-content: space-between;
    @media #{$mobile , $fold} {
        display: block;
    }
}

.footer-logo-images{
    
    width: 18px;
    
    
}
.footer-icon-container{
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-icon-links{
    padding: 5px 10px 10px 10px;
    border: 1px solid rgba(126, 130, 143, 0.09);
    border-radius: 50%;
    margin-right: 15px;
}

.footer-left{
    @media #{$mobile} {
        text-align: center;
    }
    
}

.footer-right{
    @media #{$mobile}{
        text-align: center;
        margin-top: 20px;
    }
}
