@mixin main-text {
  font-size: 55px;
  font-weight: 700;
  line-height: 1em;
}

@mixin section-top-bottom-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

@mixin section-top-bottom-margin-two-hundread {
  margin-top: 200px;
  margin-bottom: 200px;
}
@mixin section-top-bottom-margin-remove {
  margin-top: 0px;
  margin-bottom: 0px;
}

@mixin responsive-main-text {
  font-size: 46px;
  text-align: center;
}
