@import "variable";
@import "mixin";

//navigation-bar and footer

@import "navigation";

//section-one

.main-food-order-text {
  font-size: 58px;
  font-weight: 700;
  line-height: 1em;

  @media #{$mobile , $fold } {
    font-size: 48px;
  }
}
.small-food-order-text {
  color: #546285;
  font-size: 18px;
  line-height: 1.34;
  font-weight: 400;
}

.green-text {
  color: #35b8be;
}

:focus {
  outline: none !important;
}
.place-order-button {
  font-size: 18px;
  background-image: url("../images/place-order-bg.svg");
  padding: 14px 30px;
  background-color: $green;
  border: none;
  color: white;
  border-radius: 5px;
}

.review-text {
  font-size: 16px;
  color: #08090a;
}

.food-order-section {
  background-image: url("../images/bg-first-section.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-top: 100px;
  @media #{$mobile , $fold} {
    padding-top: 0px;
  }
}

.left-text-div-food-order {
  padding-top: 35px;
  @media #{$mobile ,$ipad , $fold ,$surface} {
    text-align: center;
  }
}

.right-image-burger-div img {
  max-width: 100%;
  display: block;
  margin: auto;
  @media #{$mobile , $ipad , $ipad-pro } {
    margin-top: 25px;
  }
}

// section two fresh products

.fresh-products-section {
  @include section-top-bottom-margin;
  background-image: url("../images/fresh-products-bg.svg");
  background-position: center;
  background-size: 96% 90%;
  background-repeat: no-repeat;
  padding: 140px 3%;

  @media #{$mobile ,$ipad ,$surface , $fold} {
    @include section-top-bottom-margin-remove;
    background-image: none;
    background: #f5fbfc;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.left-main-text-fresh-products-div {
  padding-top: 130px;
  background-image: url("../images/fresh-product-bg-text.png");
  background-position: 20px 82px;
  background-repeat: no-repeat;
  background-size: contain;
  @media #{$mobile , $ipad , $surface ,$fold}{
      text-align: center;
  }
}

.fresh-products-green-text {
  @include main-text;
  color: $green;
  @media #{$mobile ,$surface} {
    @include responsive-main-text;
  }
}

.right-image-burger-div{
    @media #{$mobile ,$surface ,$ipad}{
        padding-bottom: 40px;
    }
   
}


// section-three-how-it-works

.how-it-works-text{
    @include main-text;
    color: $green;
    text-align: center;
    @media #{$mobile} {
        font-size: 46px;
        text-align: start;
        margin-top: 60px;
    }
}

.work-main-bold-text {
    font-size: 22px;
    font-weight: 700;
}

.works-explain-text{
    color: #546285;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
}

.three-images{
    max-width: 100%;
}
