@import "variable";
@import "mixin";

//navigation-bar and footer

@import "navigation";
@import "footer";
//section-one

.main-food-order-text {
  font-size: 58px;
  font-weight: 700;
  line-height: 1em;

  @media #{$mobile , $fold } {
    font-size: 48px;
  }
}
.small-food-order-text {
  color: #546285;
  font-size: 18px;
  line-height: 1.34;
  font-weight: 400;
}

.green-text {
  color: #35b8be;
}

:focus {
  outline: none !important;
}
.place-order-button {
  font-size: 18px;
  background-image: url("../images/place-order-bg.svg");
  padding: 14px 30px;
  background-color: $green;
  border: none;
  color: white;
  border-radius: 5px;
}

.review-text {
  font-size: 16px;
  color: #08090a;
}

.food-order-section {
  background-image: url("../images/bg-first-section.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-top: 100px;
  @media #{$mobile , $fold} {
    padding-top: 0px;
  }
}

.left-text-div-food-order {
  padding-top: 35px;
  @media #{$mobile ,$ipad , $fold ,$surface} {
    text-align: center;
  }
}

.right-image-burger-div img {
  max-width: 100%;
  display: block;
  margin: auto;
  @media #{$mobile , $ipad , $ipad-pro } {
    margin-top: 25px;
  }
}

// section two fresh products

.fresh-products-section {
  @include section-top-bottom-margin;
  background-image: url("../images/fresh-products-bg.svg");
  background-position: center;
  background-size: 96% 90%;
  background-repeat: no-repeat;
  padding: 140px 3%;

  @media #{$mobile ,$ipad ,$surface , $fold} {
    @include section-top-bottom-margin-remove;
    background-image: none;
    background: #f5fbfc;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.left-main-text-fresh-products-div {
  padding-top: 130px;
  background-image: url("../images/fresh-product-bg-text.png");
  background-position: 20px 82px;
  background-repeat: no-repeat;
  background-size: contain;
  @media #{$mobile , $ipad , $surface ,$fold}{
      text-align: center;
  }
}

.fresh-products-green-text {
  @include main-text;
  color: $green;
  @media #{$mobile ,$surface} {
    @include responsive-main-text;
  }
}

.right-image-burger-div{
    @media #{$mobile ,$surface ,$ipad}{
        padding-bottom: 40px;
    }
   
}


// section-three-how-it-works

.how-it-works-text{
    @include main-text;
    color: $green;
    text-align: center;
    @media #{$mobile} {
        font-size: 46px;
        text-align: start;
        margin-top: 60px;
    }
}

.work-main-bold-text {
    font-size: 22px;
    font-weight: 700;
}

.works-explain-text{
    color: #546285;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
}

.three-images{
    max-width: 100%;
}

//browse-our-menu-text

.browse-menu-section{
  @include section-top-bottom-margin;
  background-image: url("../images/browse-menu-bg.svg");
  background-repeat: no-repeat;
  background-size: 96% 55%;
  padding: 140px 3%;
  background-position: center;
  @media #{$mobile , $fold} {
    @include section-top-bottom-margin-remove;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.browse-explain-text{
    color: #546285;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
    text-align: center;
}

//browse-gallery

.active-one{
  background-image: url("../images/place-order-bg.svg");
  background-color: $green;
  color: white;
}

.browse-button{
  font-size: 18px;
  
  padding: 14px 30px;
  color: black;
  border: none;
  
  border-radius: 5px;

  @media #{$mobile , $fold , $surface}{
    margin-bottom: 15px;
    width: 100%;
  }
  @media #{$ipad}{
    margin-right: 20px;
  }
}

.main-burger-div  {
  display: flex;
  border-style: solid;
    border-width: 1px;
    border-color: rgba(53, 184, 190, 0.15);
    border-radius: 6px;
 &:hover {
  border-color: $green;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
 }
 @media #{$mobile ,$fold}{
   flex-wrap: wrap;
 }
}

.item-quatity {
    width: 60px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid  rgba(53, 184, 190, 0.15);
    background-color: whitesmoke;
    margin-right: 20px;
    padding: 8px;
    vertical-align: middle;
    @media #{$fold} {
      margin-right: 7px;
    }
}

.burger-item-price{
  display: flex;
  justify-content: space-between;
  @media #{$fold}{
    display: block;
  }

}

.burger_image{
  width: 120px;
  border-radius: 6px;
  margin-right: 30px;
  margin-top: 10px;
  @media #{$mobile ,$fold}{
    width: 100%;
    margin-bottom: 16px;
  }
}

.only{
  display: none;
}

.show{
  display: block;
}

//order-online-section

.order-online-section{
  @media#{$mobile} {
    @include section-top-bottom-margin;
  }
}

.order-online-image{
  max-width: 100%;
  display: block;
  margin: auto;
}

.second-image-order-online{
  position: absolute;
  
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    @media #{$surface} {
      left: 4%;
    }
}


.green-main-text{
  @include main-text;
  color: $green;
  @media #{$mobile} {
    @include responsive-main-text;
  }
}

.order-online-explain-text{
  text-align: center;
}
.mobile-faq{
  width: 100%;
}

.order-online-text-div{
  margin-top: 140px;
  
}


//local-business-image-section

.local-business-container{
  max-width: 1300px !important ;
}

.local-business-image{
  max-width: 100%;
  max-height: 100%;
}

.order-now-button{
  font-size: 18px;
    
    padding: 14px 30px;
    background-color: white;
    border: none;
    color: $green;
    border-radius: 5px;
}

.support-local-business-text{
  color: white;
}

.support-local-business-text{
  @include main-text;
}

.only-support-text{
  color:#1b9097;
}
.support-good-friends-div{
  background-color: $green;
  padding: 184px 60px;
  @media #{$mobile} {
    padding: 59px 15px;
  }
  @media #{$fold} {
    padding:40px 8px;
  }
}

.local-business-image{
  background-image: url("../images/local-business-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: content-box;
  
  @media #{$mobile} {
    background-size: cover;
    height: 267px;
    background-clip: content-box;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media #{$ipad , $surface} {
    background-size: cover;
    height: 520px;
    background-clip: content-box;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media #{$fold} {
    height: 200px;
    background-clip: content-box;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}